div {
    margin: auto;
}

html, body {
    margin: 0;
    padding: 0;
}

/*
#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;

}*/

h1, p {
    color: white; /* or whatever color you like */
    margin: 5px 0; /* smaller space between h1 and p */
}

.App-background {
    background-image: url('./assets/Hoofdpagina.png');
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    min-width: 100vw;
    box-sizing: border-box;
    padding: 80px;
    text-align: center;
}

.OverzichtButton {
    background-color: white;
    color: black;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 20px;
}

.AanvoerderButton {
    position: absolute;
    bottom: 20px;
    left: 20px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
}

.VeilingmeesterButton {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: red;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
}

.LoginButton {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
}

.RegistreerButton {
    position: absolute;
    top: 75px;
    right: 20px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
}