html, body {
    background-color: #EAD6B3;
    margin: 0;
    padding: 0;
}

/*    .Veiling {
    position: fixed;
    top: 70px;
    left: 20px;
}*/

.Name {
    position: fixed;
    top: 10px;
    left: 50%;
    color: #40484f;
    transform: translateX(-50%);
}

.MainImage {
    position: fixed;
    top: 300px;
    left: 10%;
    transform: translateX(-50%);
    color: white;
    -webkit-text-stroke: 1px black;
    font-size: 40px
}

.Kenmerken {
    position: fixed;
    top: 470px;
    left: 5%;
}

.Kenmerken p {
    font-size: 20px;
    margin: 0 0 5px;
    color: black;
}

.Kenmerken h1 {
    font-size: 40px;
    margin: 6px 0;
    color: black;
}

.NextProducts {
    position: fixed;
    top: 100px;
    right: 5%;
    color: black;
}

.NextProducts h1 {
    font-size: 40px;
    margin: 0 0 10px;
    color: black;
}

.NextProducts .NextImage {
    font-size: 24px;
    margin: 0 0 5px;
    }


.Timer {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 120px;
    font-weight: bold;
    color: white;
    -webkit-text-stroke: 2px black;
}

.Back {
    position: fixed;
    top: 20px;
    left: 20px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
}

.Buy {
    position: fixed;
    bottom: 70px;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    color: black;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    padding: 20px 40px;
    font-size: 24px;
}

