html, body {
    background-color: #EAD6B3;
    margin: 0;
    padding: 0;
}

.Name {
    position: absolute;
    top: 10px;
    left: 50%;
    color: #40484f;
    transform: translateX(-50%);
}

.MainImage {
    position: absolute;
    top: 280px;
    left: 10%;
    transform: translateX(-50%);
    color: white;
    -webkit-text-stroke: 1px black;
    font-size: 40px
}

.KenmerkenL {
    position: absolute;
    top: 470px;
    left: 5%;
}

    .KenmerkenL p {
        font-size: 20px;
        margin: 0 0 5px;
        color: black;
    }

    .KenmerkenL h1 {
        font-size: 40px;
        margin: 6px 0;
        color: black;
    }

    .KenmerkenL .TitleL {
        font-size: 25px;
        margin: 6px 0;
        color: black;
    }

    .KenmerkenL .FeatureL {
        font-size: 20px;
        margin: 6px 0;
        color: black;
    }

    .KenmerkenL .TitleR {
        font-size: 25px;
        margin: 6px 0;
        color: black;
    }

    .KenmerkenL .FeatureR {
        font-size: 20px;
        margin: 6px 0;
        color: black;
    }

.KenmerkenR {
    position: absolute;
    top: 520px;
    left: 20%;
}

    .KenmerkenR p {
        font-size: 20px;
        margin: 0 0 5px;
        color: black;
    }

    .KenmerkenR h1 {
        font-size: 40px;
        margin: 6px 0;
        color: black;
    }

    .KenmerkenR .TitleL {
        font-size: 25px;
        margin: 6px 0;
        color: black;
    }

    .KenmerkenR .FeatureL {
        font-size: 20px;
        margin: 6px 0;
        color: black;
    }

    .KenmerkenR .TitleR {
        font-size: 25px;
        margin: 6px 0;
        color: black;
    }

    .KenmerkenR .FeatureR {
        font-size: 20px;
        margin: 6px 0;
        color: black;
    }

.NextProducts {
    position: absolute;
    top: 100px;
    right: 5%;
    color: black;
}

    .NextProducts h1 {
        font-size: 40px;
        margin: 0 0 10px;
        color: black;
    }

    .NextProducts .NextImage {
        font-size: 24px;
        margin: 0 0 5px;
    }


.Timer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 120px;
    font-weight: bold;
    color: white;
    -webkit-text-stroke: 2px black;
}

.Back {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
}

.Buy {
    position: absolute;
    bottom: 70px;
    left: 50%;
    transform: translateX(-50%);
    background-color: white;
    color: black;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    padding: 20px 40px;
    font-size: 24px;
}


.ProgresBar {
    position: absolute;
    bottom: 250px;
    left: 50%;
    transform: translateX(-50%);
    width: 30%;
    height: 25px;
    background-color: #ddd;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
}

.ProgressFill {
    height: 100%;
    background: white;
    transition: width 0.3s linear;
}
