.Name {
    position: absolute;
    top: 20%;
    left: 50%;
    color: #40484f;
    transform: translateX(-50%);
}

.MainImage {
    position: absolute;
    top: 80px;
    left: 2%;
    width: 400px;
    height: 400px;
    object-fit: cover;
    object-position: center;
}

.KenmerkenL {
    position: absolute;
    top: 500px;
    left: 2%;
}

    .KenmerkenL p {
        font-size: 20px;
        margin: 0 0 5px;
        color: black;
    }

    .KenmerkenL h1 {
        font-size: 40px;
        margin: 6px 0;
        color: black;
    }

    .KenmerkenL .TitleL {
        font-size: 25px;
        margin: 6px 0;
        color: black;
    }

    .KenmerkenL .FeatureL {
        font-size: 20px;
        margin: 6px 0;
        color: black;
    }

    .KenmerkenL .TitleR {
        font-size: 25px;
        margin: 6px 0;
        color: black;
    }

    .KenmerkenL .FeatureR {
        font-size: 20px;
        margin: 6px 0;
        color: black;
    }

.KenmerkenR {
    position: absolute;
    top: 550px;
    left: 14.5%;
}

    .KenmerkenR p {
        font-size: 20px;
        margin: 0 0 5px;
        color: black;
    }

    .KenmerkenR h1 {
        font-size: 40px;
        margin: 6px 0;
        color: black;
    }

    .KenmerkenR .TitleL {
        font-size: 25px;
        margin: 6px 0;
        color: black;
    }

    .KenmerkenR .FeatureL {
        font-size: 20px;
        margin: 6px 0;
        color: black;
    }

    .KenmerkenR .TitleR {
        font-size: 25px;
        margin: 6px 0;
        color: black;
    }

    .KenmerkenR .FeatureR {
        font-size: 20px;
        margin: 6px 0;
        color: black;
    }

.NextProducts {
    position: absolute;
    top: 100px;
    right: 5%;
    color: black;
}

    .NextProducts h1 {
        font-size: 30px;
        margin: 0 0 10px;
        color: black;
    }

    .NextProducts .NextImage {
        color: black;
        font-size: 24px;
        margin: 0 0 5px;
    }


.Timer {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 75px;
    font-weight: bold;
    color: white;
    -webkit-text-stroke: 2px black;
}

.Buy {
    position: absolute;
    bottom: 55px;
    left: 50%;
    transform: translateX(-50%);
    background-color: black;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    padding: 20px 40px;
    font-size: 24px;
}

.Historie1 {
    position: absolute;
    bottom: 25px;
    left: 85%;
    transform: translateX(-50%);
    background-color: black;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    padding: 20px 40px;
    font-size: 24px;
}

.Historie2 {
    position: absolute;
    bottom: 175px;
    left: 85%;
    transform: translateX(-50%);
    background-color: black;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    padding: 20px 40px;
    font-size: 24px;
}
    .ProgresBar {
    position: absolute;
    bottom: 250px;
    left: 50%;
    transform: translateX(-50%);
    width: 30%;
    height: 25px;
    background-color: #ddd;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 0 5px rgba(0,0,0,0.3);
}

.ProgressFill {
    height: 100%;
    background: white;
    transition: width 0.3s linear;
}

.Klok img {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: auto;
}

.Adder {
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
/*    background-color: black;*/
    color: white;
    border: none;
/*    border-radius: 8px;*/
    cursor: pointer;
    font-weight: bold;
/*    padding: 20px 40px;*/
    font-size: 24px;
}

.kloklocatie {
    position: absolute;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
    /*    background-color: black;*/
/*    color: white;*/
    border: none;
    /*    border-radius: 8px;*/
    cursor: pointer;
    font-weight: bold;
    /*    padding: 20px 40px;*/
    font-size: 24px;
}
