div.veilingmeester {
    display: flex;
    flex-direction: column;
    width: 100vw;
    min-height: 100vh;
}

header.veilingmeester {
    padding: 20px;
    text-align: left;
    background-color: #D0B070;
}

h1.veilingmeester {
    margin: 0;
    font-size: 3rem;
    color: black;
}

nav.veilingmeester {
    display: flex;
    justify-content: space-between;
}

nav.veilingmeester a {
    flex: 1;
    text-align: center;
    color: black;
    text-decoration: none;
    padding: 10px 0;
    border-radius: 0 0 10px 10px;
    background-color: #E0C080;
    font-size: 1.5rem;
    border-top: black solid 1px;
}

nav.veilingmeester a:hover {
    text-decoration: underline;
    font-weight: bold;
    color: black;
}

nav.veilingmeester a.active {
    background-color: #D0B070;
    border: black solid 1px;
    border-top: none;
    padding-top: 11px;
}

nav.veilingmeester a.active:last-child {
    border-right: none;
}

nav.veilingmeester a.active:first-child {
    border-left: none;
}

.LogOutButton {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
}


form.veilingmeester {
    margin: 5% 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

input.veilingmeester, select.veilingmeester {
    padding: 10px;
    font-size: 1rem;
    width: 100%;
    border-radius: 8px;
    border: 1px solid #ccc;
}

input[type="submit"].veilingmeester {
    background-color: #D0B070;
    color: black;
    border: none;
    padding: 15px;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 8px;
}

input[type="submit"].veilingmeester:hover {
    background-color: #B59A60;
}

.producten-overzicht {
    margin: 20px;
}

.datum-sectie {
    margin-bottom: 40px;
}

.producten-rij {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.product-kaart {
    background-color: #E0C080;
    border-radius: 8px;
    padding: 10px 15px;
    width: 250px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.product-kaart h3 {
    color: black;
    margin-top: 0;
}

.product-kaart p {
    color: #40484F;
}

.edit-container {
    display: flex;
    flex-direction: column;
}

.edit-buttons {
    display: flex;
    gap: 10px;
}

.edit-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 6px;
}


.edit-row input {
    flex: 1;
    height: 16px;
    border: 1px solid #ccc;
    margin: 4px 0;
}

.edit-row-naam {
    height: 22px;
    padding-bottom: 20px;
}

.beheer-knop {
    background-color: #D0B070;
    color: black;
}