div.aanvoerder {
    display: flex;
    flex-direction: column;
    width: 1265px;
    min-height: 100vh;
}

header.aanvoerder {
    padding: 20px;
    text-align: left;
    background-color: #D0B070;
}

h1.aanvoerder {
    margin: 0;
    font-size: 3rem;
    color: black;
}

nav.aanvoerder {
    display: flex;
    justify-content: space-between;
}

nav.aanvoerder a {
    flex: 1;
    text-align: center;
    color: black;
    text-decoration: none;
    padding: 10px 0;
    border-radius: 0 0 10px 10px;
    background-color: #E0C080;
    font-size: 1.5rem;
    border-top: black solid 1px;
}

nav.aanvoerder a:hover {
    text-decoration: underline;
    font-weight: bold;
    color: black;
}

nav.aanvoerder a.active {
    background-color: #D0B070;
    border: black solid 1px;
    border-top: none;
    padding-top: 11px;
}

nav.aanvoerder a.active:last-child {
    border-right: none;
}

nav.aanvoerder a.active:first-child {
    border-left: none;
}

.LogOutButton {
    position: absolute;
    top: 20px;
    right: 20px;
    background-color: white;
    color: black;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
}


form.aanvoerder {
    margin: 5% 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

input.aanvoerder, select.aanvoerder {
    padding: 10px;
    font-size: 1rem;
    width: 100%;
    border-radius: 8px;
    border: 1px solid #ccc;
}

input[type="submit"].aanvoerder {
    background-color: #D0B070;
    color: black;
    border: none;
    padding: 15px;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 8px;
}

input[type="submit"].aanvoerder:hover {
    background-color: #B59A60;
}